<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/new">Send new message</a>
    <% messages.forEach( message => { %>
    <div class="messagebox">
      <div class="username">
        <%= message.user %>
      </div>
      <div class="messagebox-message">
        <%= message.message %>
      </div>
      <div class="timestamp">
        <%= message.time %>
      </div>
    </div>
    <% }) %>
  </body>
</html>
